.entry-content .wp-block-semblance-teamprofile,
.wp-block-semblance-teamprofile {
  border: 2px lightgrey solid;
  padding: 0 1rem;
  overflow: hidden; }
  .entry-content .wp-block-semblance-teamprofile h3,
  .wp-block-semblance-teamprofile h3 {
    color: darkblue;
    margin: 1rem 0; }
  .entry-content .wp-block-semblance-teamprofile p.image-wrapper,
  .wp-block-semblance-teamprofile p.image-wrapper {
    float: left;
    height: 200px;
    position: relative;
    margin: 1em 1em 1em 0;
    width: 200px;
    z-index: 1; }
    .entry-content .wp-block-semblance-teamprofile p.image-wrapper figure,
    .wp-block-semblance-teamprofile p.image-wrapper figure {
      height: 200px;
      margin: 0;
      padding: 0;
      width: 200px; }
    .entry-content .wp-block-semblance-teamprofile p.image-wrapper.round-image figure,
    .wp-block-semblance-teamprofile p.image-wrapper.round-image figure {
      border-radius: 200px;
      margin: 0;
      overflow: hidden;
      padding: 0; }
    .entry-content .wp-block-semblance-teamprofile p.image-wrapper img,
    .wp-block-semblance-teamprofile p.image-wrapper img {
      display: block;
      height: 200px;
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%; }
  .entry-content .wp-block-semblance-teamprofile.left p.image-wrapper,
  .wp-block-semblance-teamprofile.left p.image-wrapper {
    float: left; }
  .entry-content .wp-block-semblance-teamprofile.center p.image-wrapper,
  .wp-block-semblance-teamprofile.center p.image-wrapper {
    float: none;
    margin: 1em auto; }
    .entry-content .wp-block-semblance-teamprofile.center p.image-wrapper figure,
    .wp-block-semblance-teamprofile.center p.image-wrapper figure {
      margin: 0 auto; }
  .entry-content .wp-block-semblance-teamprofile.right p.image-wrapper,
  .wp-block-semblance-teamprofile.right p.image-wrapper {
    float: right;
    margin: 1em 0 1em 1em; }
  .entry-content .wp-block-semblance-teamprofile li,
  .wp-block-semblance-teamprofile li {
    list-style-position: inside; }
  .entry-content .wp-block-semblance-teamprofile .profile-social,
  .wp-block-semblance-teamprofile .profile-social {
    list-style: none;
    padding: 0; }
    .entry-content .wp-block-semblance-teamprofile .profile-social > li,
    .wp-block-semblance-teamprofile .profile-social > li {
      display: inline-block;
      margin: 0; }
      .entry-content .wp-block-semblance-teamprofile .profile-social > li:nth-of-type(2n),
      .wp-block-semblance-teamprofile .profile-social > li:nth-of-type(2n) {
        margin: 0 12px; }
    .entry-content .wp-block-semblance-teamprofile .profile-social svg,
    .wp-block-semblance-teamprofile .profile-social svg {
      height: 40px;
      fill: grey;
      width: 40px; }
      .entry-content .wp-block-semblance-teamprofile .profile-social svg:hover,
      .wp-block-semblance-teamprofile .profile-social svg:hover {
        fill: black; }

.entry-content .wp-block-semblance-teamprofile * {
  clear: none; }

.entry-content .wp-block-semblance-teamprofile p.image-wrapper.round-image {
  border-radius: 200px;
  overflow: hidden; }

.entry-content .wp-block-semblance-teamprofile.center p.image-wrapper {
  margin: 1em auto;
  width: 200px; }
