.wp-block-semblance-teamprofile p {
  font-size: 1.4rem; }

.wp-block-semblance-teamprofile .notice {
  background: lightyellow;
  font-size: 1.2rem; }

.wp-block-semblance-teamprofile button.remove-image {
  background-color: blueviolet;
  border: 2px blueviolet solid;
  border-radius: 20px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }
  .wp-block-semblance-teamprofile button.remove-image svg {
    background: blueviolet;
    fill: white; }
  .wp-block-semblance-teamprofile button.remove-image:hover {
    background-color: black;
    border: 2px black solid;
    opacity: 1; }
    .wp-block-semblance-teamprofile button.remove-image:hover svg {
      background: black; }

.editor-styles-wrapper .wp-block-semblance-teamprofile h1, .editor-styles-wrapper .wp-block-semblance-teamprofile h2, .editor-styles-wrapper .wp-block-semblance-teamprofile h3, .editor-styles-wrapper .wp-block-semblance-teamprofile h4, .editor-styles-wrapper .wp-block-semblance-teamprofile h5, .editor-styles-wrapper .wp-block-semblance-teamprofile h6, .editor-styles-wrapper .wp-block-semblance-teamprofile p {
  margin-top: 0.8em;
  margin-bottom: 0.8em; }

.block-editor-block-icon.has-colors svg.icon-team {
  fill: #f3c5b7; }
